name: Test Self-Hosted Runner

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Run simple command
        run: echo "Running on self-hosted runner!"
      - name: Ping Gateway
        run: ping -c 2 10.1.17.1
